<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">

  	<filter>
  		<filter-name>SVGFilter</filter-name>
  		<filter-class>com.idega.graphics.filter.SVGFilter</filter-class>
  	</filter>
 
    <!-- Disabled for now: should be avoided as some browsers accept viewing svg natively
  	<filter-mapping>
 	   	<filter-name>SVGFilter</filter-name>
  		<url-pattern>*.svg</url-pattern>
  	</filter-mapping>
  	-->
    <!-- This is the default type for rendering out to PNG -->
  	<filter-mapping>
 	   	<filter-name>SVGFilter</filter-name>
  		<url-pattern>*.psvg</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
 	   	<filter-name>SVGFilter</filter-name>
  		<url-pattern>*.svg.jsp</url-pattern>
  	</filter-mapping>
  	<filter-mapping>
 	   	<filter-name>SVGFilter</filter-name>
  		<url-pattern>*.svg.jspx</url-pattern>
  	</filter-mapping>

	<!-- special mappings for server side generated jsp svg files:-->
    	<servlet-mapping>
        	<servlet-name>jsp</servlet-name>
        	<url-pattern>*.jsvg</url-pattern>
    	</servlet-mapping>
  	<filter-mapping>
 	   	<filter-name>SVGFilter</filter-name>
  		<url-pattern>*.jsvg</url-pattern>
  	</filter-mapping>
</web-app>